DatabaseService/bin
DatabaseService/obj
DatabaseService.Tests/bin
DatabaseService.Tests/obj
WebApp/bin
WebApp/obj
WebApp.Tests/bin
WebApp.Tests/obj
TestResults
Helpers/bin
Helpers/obj
DatabaseService.WindowsService/bin
DatabaseService.WindowsService/obj
